{% extends "tests/base.html" %}
{% load extras %}

{% block title %}My amazing blog{% endblock %}

{% block sidebar %}
<ul>
    <li>I am sub</li>
    <li>Nothing</li>
</ul>
{% endblock %}

{% block content %}
{% for entry in blog_entries %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.body }}</p>
{% endfor %}

<p>
request.path = {{ request.path }}
</p>

<p>
request.path|match = {{ request.path | match:'^/\w+' }}
</p>

<p>
request.user {{ request.user }} <br/>
request.user.first_name {{ request.user.first_name }} <br/>
request.user.profile.nick_name {{ request.user.profile.nick_name }}
</p>

{% endblock %}
